<html lang="pt-br"></html>
<meta charset="UTF-8">
<script src="https://unpkg.com/vue@2"></script>

<div id="app">
  <ul>
    <li v-for="cor in cores">{{ cor }}</li>
  </ul>

  <h3>Ao renderizar o template com v-for ele criar apenas as div internas ao componente</h3>
  <template v-for="(cor, index) in cores">
    <h1>{{ index }}</h1>
    <h2>{{ cor }}</h2>
  </template>
</div>

<script>
  new Vue({
    el: '#app',
    data:{
      cores: ['red', 'blue', 'green', 'yellow']
    }
  })

</script>

<style>
  h1, h2{
    display: inline;
  }
</style>

